<!DOCTYPE html>
{% extends 'restaurants/base.html' %}
{% load staticfiles %}

{% block body %}

<html>
<head>
  <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
	<title>Restaurant Reviews</title>
	
</head>
<body>
	
	<div id="container">
		<div id="header">
			<h1>Restaurant Reviews</h1>
		</div>
		<div id="content">
			<div id = "nav">
				<h3>Most liked Restaurants</h3>
			
			</div>
			
			<div id="main">
				<h3>Cuisines</h3>
			</div>
		
		</div>
		<div id ="footer">
			
	</div>


{% endblock %}
</body>
</html>