<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>
<select multiple name="interests" size="4">
 <option value="arts">Arts</option>
 <option value="pol" >Politics</option>
 <option value="sci" >Science</option>
 <option value="comp">Computers and internet</option>
 <option value="test">Can i scrool?</option>
 <option value="abc">lets see</option>
</select>

</body>
</html>