<!DOCTYPE html>
{% extends 'restaurants/base.html' %}
{% block body %}
<html lang="en">
    <head>
        
    </head>
    <body>
	
		<div id="searchbar"">
			<form action="">
				<input type="text" placeholder="Username" name="username"><br>
				<input type="text" placeholder="Firstname" name="firstname"><br>
				<input type="text" placeholder="Lastname" name="lastname"><br>
				<input type="text" placeholder="Email" name="email"><br>
				<input type="checkbox" name="Restaurant-owner"> I own a restaurant<br>
				<input type="checkbox" name="non-owner"> I do not own a restaurant<br>
				
				
				<br>
				
			</form>
		</div>
	

    </body>
    {% endblock %}
</html>