#index-container {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

#index-body {
	background-image: url("images/bg.jpg");
	
}

#headings {
	
	text-align: center;
}

#content {
	
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	height:500px;
	overflow:auto;
	
}

#highest-rated{ 
	border: 1px solid powderblue;
	float: left;
	width: 48%;
	height: 40%;
	overflow: auto;
}

#cuisines{
	
	float: right;
	width:48%;
	height:40%;
	overflow: auto;
}

#searchbar{
	padding-top:100px;
	clear: both;
	text-align: center
}